#intellij files
.idea/

#compiled files
target/
*.class

#Merge related files:
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/

.DS_Store/

spring-shell.log


